<div *ngIf="user">
  <p>
    User Details for User: {{ user.id }}
  </p>
  <p>Name: {{ user.firstName }}</p>
  <p>Last name: {{ user.lastName }}</p>
</div>
<a [routerLink]="['/', 'users', 'list']">Zurück</a>
