<!-- Interpolation -->
<h2>Interpolation</h2>
<div>{{ name }}</div>

<hr />

<!-- One-way binding -->
<div>
  <h2>One-way binding</h2>
  <input [ngModel]="oneWayProp">
  {{ oneWayProp }}
</div>

<hr />

<!-- Event binding -->
<div>
  <h2>Event binding</h2>
  <button (click)="activate()">Activate</button>
  Active: {{ active }}
</div>

<hr />

<!-- Two-way-binding -->
<div>
  <h2>Two-way binding</h2>
  <input [(ngModel)]="twoWayProp">
  {{ twoWayProp }}
</div>
