<a routerLink="di" routerLinkActive="active-link">Di</a>
<a routerLink="di2" routerLinkActive="active-link">Di2</a>
<a routerLink="users/list" routerLinkActive="active-link">Users</a>
<a routerLink="forms" routerLinkActive="active-link">Forms</a>
<a routerLink="observables" routerLinkActive="active-link">Observables</a>
<router-outlet></router-outlet>
