<h2>Template-driven forms</h2>
<form #myForm="ngForm" (ngSubmit)="submit()">
  <div>
    <input name="firstName"
           required
           maxlength="10"
           [(ngModel)]="firstName"
           (ngModelChange)="handleChange($event)"/> {{myForm?.controls?.firstName?.status}}
  </div>
  <div>
    <input name="lastName" required maxlength="10" [(ngModel)]="lastName"/> {{myForm?.controls?.lastName?.status}}
  </div>
  <div>
    <p>Not supported as of now</p>
    <input name="age" required min=0 max=100 type="number" [(ngModel)]="age"/> {{myForm?.controls?.age?.status}}
  </div>
  <button type="submit">Submit</button>
</form>
{{myForm.value | json}}
