<!-- Template directive -->
<h2>Template directive</h2>
<app-template-directive></app-template-directive>

<hr />

<!-- Structural directives -->
<h2>Structural directive</h2>

<p>Fruits I like</p>
<ul>
  <li *ngFor="let fruit of fruits">{{ fruit }}</li>
</ul>

<button (click)="show=!show">Toggle visibility</button>
<p *ngIf="show">Now you see me</p>

<hr />

<!-- Attribute directive -->
<h2>Attribute directive</h2>
<p appBlueText>I'm blue</p>
