<h2>Template-driven forms</h2>
<form [formGroup]="myForm" (ngSubmit)="submit()">
  <div>
    <input name="firstName"
           formControlName="firstName"
    />{{myForm?.get('firstName').status}}
  </div>
  <div>
    <input formControlName="lastName"/>
  </div>
  <div>
    <p>Not supported as of now</p>
    <input formControlName="age" min=0 max=100 type="number"/>
  </div>
  <div>
    <input formControlName="email">
  </div>
  <p *ngIf="myForm.get('email').hasError('profanity')">Cannot contain profanities</p>
  <div>
    <input [(ngModel)]="skillName" [ngModelOptions]="{standalone: true}"/>
    <button [disabled]="skillName.length === 0" (click)="addSkill()">Add Skill</button>
  </div>
  <div *ngFor="let skill of skills.controls; let i = index">
    <ng-container [formGroup]="skill">
      <input formControlName="name" />
      <input formControlName="level" type="number"/>
      <span (click)="deleteSkill(i)">X</span>
    </ng-container>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Submit</button>
</form>
